/*cambiar el tamaño de la imagen del slider*/
.bd-example, .d-block{
	max-height: 580px;
	width: cover;
}
.navbar{
  border-style: solid;
  border-width: 1px;
}
/*Destacados*/
main {
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;

      -moz-column-rule: 1px solid #bbb;
      -webkit-column-rule: 1px solid #bbb;
      column-rule: 1px solid #bbb;

      -moz-column-width: 280px;         
      -webkit-column-width: 280px;
      column-width: 280px;
}
/*tamaño de letra del menu */
.nav-link{
  font-size: 20px;
}
/*cambiar de tamaño la letra de viajar a*/
.form-control::placeholder{
  font-size: 14px;
}
/*cambiar color de letra al slider*/
.carousel-caption,h5,p{
  color:black;
  font-weight: bolder;
  font-size: 20px;
}
.destinos{
  font-size: 16px;
  letter-spacing: 1px;
  color: #707579;
  text-transform: capitalize;
}
/*icono de ubicacion destinos*/
.destinos .fa-map-marker{
  background: white;
  color:#F8380F;
  width: 50px;
}
/* destinos mas destacados*/
.DestinosD{
  color: #00b300;
  font-weight: 700;
}
.destino1{
  text-align: center;
}
.destino2{
  text-align: center;
}
.destino3{
  text-align: center;
}
.texto{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  column-span: all;
  text-align: center;
  color: black;
}
/*Para mobile */
// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
main {
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;

      -moz-column-gap: 3em;
      -webkit-column-gap: 3em;
      column-gap: 3em;

      -moz-column-rule: 1px solid #bbb;
      -webkit-column-rule: 1px solid #bbb;
      column-rule: 1px solid #bbb;

      -moz-column-width: 500px;         
      -webkit-column-width: 500px;
      column-width: 500px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  main {
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;

      -moz-column-gap: 10em;
      -webkit-column-gap: 10em;
      column-gap: 10em;

      -moz-column-rule: 1px solid #bbb;
      -webkit-column-rule: 1px solid #bbb;
      column-rule: 1px solid #bbb;

      -moz-column-width: 500px;         
      -webkit-column-width: 500px;
      column-width: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
/* descatados*/
/* footer */
     .bg-grey {
        background: #292929;
     }
     .logo-footer {
        margin-bottom: 40px;
     }
     footer {
            color: grey;
     }
     footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
    .btn-footer {
                 color: grey;
              
                text-decoration: none;
                border: 1px solid;
                border-radius: 43px;
                font-size: 13px;
                padding: 7px 30px;
                line-height: 47px;
     }
     .btn-footer:hover {
                
                text-decoration: none;
               
     }
    .form-footer input[type="text"] {
        border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    
}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
 .form-footer input[type="button"] {
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
     footer ul li {
    list-style: none;
    display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
}

/*Redes sociales*/

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #e31793;
  color: white;
}

.fa-whatsapp{
    background: green;
    color: white;
}

.fa-map-marker{
    background: white;
    color: red;   
}
footer h6{
  color:white;
}
footer p{
  color:white;
}
.carousel-indicators .active {
    background-color: #13A0EC;
}
.carousel-control-prev-icon .active{
   background-color: #13A0EC;
}
/* Destinos */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.parrallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#seccion1{
    width: 100%;
    height: 100%;
    background-image: url('../img/islandia.jpg')

}

#info1{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-transition:opacity 0.3s;
    opacity:0;
}

#seccion1:hover #info1{
    opacity: 1;
}

#headline1{
    position: absolute;
    margin-top: 20px;
    margin-left: -70px;
    -webkit-transition: margin 0.2s;
    font-size: 21px;
}

#seccion1:hover #headline1{
    margin-left: 70px;
}

#seccion2{
    width: 100%;
    height: 100%;
    background-image: url('../img/colombia.jpg')
}

#info2{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-transition:opacity 0.3s;
    opacity:0;
}

#seccion2:hover #info2{
    opacity: 1;
}

#headline2{
    position: absolute;
    margin-top: 20px;
    margin-left: -70px;
    -webkit-transition: margin 0.2s;
    font-size: 21px;
}

#seccion2:hover #headline2{
    margin-left: 70px;
}

#seccion3{
    height: 100%;
    width: 100%;
    background-image: url('../img/china.jpg')
}

#info3{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-transition:opacity 0.3s;
    opacity:0;
}

#seccion3:hover #info3{
    opacity: 1;
}

#headline3{
    position: absolute;
    margin-top: 20px;
    margin-left: -70px;
    -webkit-transition: margin 0.2s;
    font-size: 21px;
}

#seccion3:hover #headline3{
    margin-left: 70px;
}

/* Paquetes */

p {
  color: white;
}

h5 {
  color: white;
}

a {
color: black;
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e1ea56;
}