/*cambiar el tamaño de la imagen del slider*/
.bd-example, .d-block{
	max-height: 600px;
	width: auto;
}
main {
      column-count:3;

      column-gap: 2em;

      column-width: 320px;
}
.nav-link{
  font-size: 20px;
}
/*cambiar de tamaño la letra de viajar a*/
.form-control::placeholder{
  font-size: 14px;
}
/*cambiar color de letra al slider*/
.carousel-caption,h5,p{
  color:black;
  font-weight: bolder;
  font-size: 20px;
}
.destinos{
  font-size: 16px;
  letter-spacing: 1px;
  color: #707579;
  text-transform: capitalize;
}
/*icono de ubicacion destinos*/
.destinos .fa-map-marker{
  background: white;
  color:#F8380F;
  width: 50px;
}
.destino1{
  text-align: center;
}
.destino2{
  text-align: center;
}
.destino3{
  text-align: center;
}
.texto{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  column-span: all;
  text-align: center;
  color: red;
}
/* footer */
     .bg-grey {
        background: #292929;
     }
     .logo-footer {
        margin-bottom: 40px;
     }
     footer {
            color: grey;
     }
     footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
    .btn-footer {
                 color: grey;
              
                text-decoration: none;
                border: 1px solid;
                border-radius: 43px;
                font-size: 13px;
                padding: 7px 30px;
                line-height: 47px;
     }
     .btn-footer:hover {
                
                text-decoration: none;
               
     }
    .form-footer input[type="text"] {
        border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    
}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
 .form-footer input[type="button"] {
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
     footer ul li {
    list-style: none;
    display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
}

/*Social Media*/

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #e31793;
  color: white;
}

.fa-whatsapp{
    background: green;
    color: white;
}

.fa-map-marker{
    background: white;
    color: red;   
}
footer h6{
  color:white;
}
footer p{
  color:white;
}
.carousel-indicators .active {
    background-color: #13A0EC;
}
.carousel-control-prev-icon .active{
   background-color: #13A0EC;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
