/*cambiar el tamaño de la imagen del slider*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);


.bd-example, .d-block{
	max-height: 500px;
	width: cover;
}
.navbar{
  border-style: solid;
  border-width: 1px;
}
/*Destacados*/
.mt-1{
  text-align: center;
}
/*tamaño de letra del menu */
.nav-link{
  font-size: 20px;
}
/*cambiar de tamaño la letra de viajar a*/
.form-control::placeholder{
  font-size: 14px;
}
/*cambiar color de letra al slider*/
.carousel-caption,h5,p{
  color:black;
  font-weight: bolder;
  font-size: 20px;
}
.destinos{
  font-size: 16px;
  letter-spacing: 1px;
  color: #707579;
  text-transform: capitalize;
}
/*icono de ubicacion destinos*/
.destinos .fa-map-marker{
  background: white;
  color:#F8380F;
  width: 50px;
}
/* destinos mas destacados*/
.DestinosD{
  color: #00b300;
  font-weight: 700;
}
.destino1{
  text-align: center;
}
.destino2{
  text-align: center;
}
.destino3{
  text-align: center;
}
.texto{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  column-span: all;
  text-align: center;
  color: black;
}
/*Logo */
.logo{
  width:75px;
  height:75px; 
}
.logo2{
  width:150px;
  height:150px; 
}

/* descatados*/
/* footer */
     .bg-grey {
        background: #292929;
     }
     .logo-footer {
        margin-bottom: 40px;
     }
     footer {
            color: grey;
     }
     footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
    .btn-footer {
                 color: grey;
              
                text-decoration: none;
                border: 1px solid;
                border-radius: 43px;
                font-size: 13px;
                padding: 7px 30px;
                line-height: 47px;
     }
     .btn-footer:hover {
                
                text-decoration: none;
               
     }
    .form-footer input[type="text"] {
        border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    
}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
 .form-footer input[type="button"] {
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
     footer ul li {
    list-style: none;
    display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
}

/*Redes sociales*/

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #e31793;
  color: white;
}

.fa-whatsapp{
    background: green;
    color: white;
}

.fa-map-marker{
    background: white;
    color: red;   
}
footer h6{
  color:white;
}
footer p{
  color:white;
}
.carousel-indicators .active {
    background-color: black;
}
.carousel-control-prev-icon .{
   background-color: #13A0EC;
}
/* Destinos */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.parrallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#seccion1{
    width: 100%;
    height: 100%;
    background-image: url('../img/islandia.jpg')

}

#info1{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-transition:opacity 0.3s;
    opacity:0;
}

#seccion1:hover #info1{
    opacity: 1;
}

#headline1{
    position: absolute;
    margin-top: 20px;
    margin-left: -70px;
    -webkit-transition: margin 0.2s;
    font-size: 21px;
}

#seccion1:hover #headline1{
    margin-left: 70px;
}

#seccion2{
    width: 100%;
    height: 100%;
    background-image: url('../img/colombia.jpg')
}

#info2{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-transition:opacity 0.3s;
    opacity:0;
}

#seccion2:hover #info2{
    opacity: 1;
}

#headline2{
    position: absolute;
    margin-top: 20px;
    margin-left: -70px;
    -webkit-transition: margin 0.2s;
    font-size: 21px;
}

#seccion2:hover #headline2{
    margin-left: 70px;
}

#seccion3{
    height: 100%;
    width: 100%;
    background-image: url('../img/china.jpg')
}

#info3{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-transition:opacity 0.3s;
    opacity:0;
}

#seccion3:hover #info3{
    opacity: 1;
}

#headline3{
    position: absolute;
    margin-top: 20px;
    margin-left: -70px;
    -webkit-transition: margin 0.2s;
    font-size: 21px;
}

#seccion3:hover #headline3{
    margin-left: 70px;
}

/* Paquetes */

p {
  color: white;
}

h5 {
  color: white;
}

a {
color: black;
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e1ea56;
}


.colorm{
  color:black;
}

.maz{
  background-color: #accee3;
}


.contacto{
   background: url("http://www.fondox.net/descargar.php?id=765&resolucion=2560x1600") no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
 
}

/* Imagenes de paquete, pagina */

.maz {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4w8qfPNhgilfsnun8/4k-ocean-waves-crash-into-rocks-in-slow-motion-near-pebble-beach-california_boedjgvb__F0002.png") no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
}

.say {
  background: url("https://vallartaextreme.com/wp-content/uploads/2018/10/Sayulita-9.jpg") no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
}

.mex {
  background: url("https://farm5.static.flickr.com/4101/4898320780_f7a8129d33_b.jpg") no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
}

.gua {
  background: url("https://i.pinimg.com/originals/82/37/d7/8237d773ba18fe06bfe206174d11bcd0.jpg") no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
}

.hua {
  background: url("https://i.ytimg.com/vi/PH0goKAAwXo/maxresdefault.jpg") no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
}


.texto{
    position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:20%;
  left:42%;
  /*determinamos una anchura*/
  width:600px;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left:-200px;
  /*determinamos una altura*/
  height:440px;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-150;
  border:1px solid #808080;
  padding:5px;
  font: 200% sans-serif;
}
.opacity{
  /*Div que ocupa toda la pantalla*/
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:#fff;
  /*IE*/
  filter: alpha(opacity=50);
  /*FireFox Opera*/
  opacity: .7;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}

/*nav.navbar {
    background-color: #474747;
}*/

