/* Destinos */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.parrallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#seccion1{
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/guanajuato.jpg);
	background-size: 200%;
	animation: movimiento 20s infinite linear alternate;
}

#seccion2{
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/mazatlan.jpg);
	background-size: 200%;
	animation: movimiento 20s infinite linear alternate;
}

#seccion3{
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/sayulita.jpg);
	background-size: 200%;
	animation: movimiento 20s infinite linear alternate;

}

@keyframes movimiento{
	from{
		background-position: bottom left;
		}to{
		background-position: top right;
	}
}

.capa-gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-linear-gradient(left, black, #0672d0);
	opacity: 0.5;
}

.container-details{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: auto;
}

.details{
	width: 100%;
	max-width: 500px;
	position: relative;
	top: 500px;
	left: 10px;
	color:white;

}

.details h1{
	font-size: 40px;
	color: #D7D8D8;
	font-family: calibri ligth;
}

.details p{
	font-family: calibri ligth;
	color: #D7D8D8;
	font-size: 20px;

}

.details button{
	padding:10px 20px;
	font-size: 16px;
	background: none;
	border-style: 1px solid white;
	color: white;
	margin-left: 150px;
	margin-top: 10px;
}

.details img{
	width: 30px;
	height: 30px;
	opacity: 1;
	position: relative;
	top: -2.5px;
	left: 5px;
}

.container-details2 {
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: auto;
}

.details2 {
	width: 100%;
	max-width: 500px;
	position: relative;
	top: 150px;
	left: 10px;
	color:white;

}

.details2 h1{
	font-size: 40px;
	color: white;
	font-family: calibri ligth;
}

.details2 p{
	font-family: calibri ligth;
	color: white;
	font-size: 20px;

}

.details2 button{
	padding:10px 20px;
	font-size: 16px;
	background: none;
	border-style: 1px solid white;
	color: white;
	margin-left: 250px;
	margin-top: -1070px;
}

.container-details3 {
	width: 100%;
	max-width: 1500px;
	position: relative;
	margin: auto;
}

.details3 {
	width: 100%;
	max-width: 500px;
	position: relative;
	top: 150px;
	left: 10px;
	color:white;

}

.details3 h1{
	font-size: 40px;
	color: white;
	font-family: calibri ligth;
}

.details3 p{
	font-family: calibri ligth;
	color: white;
	font-size: 20px;

}

.details3 button{
	padding:10px 20px;
	font-size: 16px;
	background: none;
	border-style: 1px solid white;
	color: white;
	margin-left: 150px;
}

.container-details4 {
	width: 100%;
	max-width: 1500px;
	position: relative;
	margin: auto;
}

.details4 {
	width: 100%;
	max-width: 500px;
	position: relative;
	top: 150px;
	left: 10px;
	color:white;

}

.details4 h1{
	font-size: 40px;
	color: white;
	font-family: calibri ligth;
}

.details4 p{
	font-size: 20px;
	color: white;
	font-family: calibri ligth;
}

.details4 button{
	padding:10px 20px;
	font-size: 16px;
	background: none;
	border-style: 1px white;
	color: white;
	margin-left: 150px;
}
