// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {

  .bd-example, .d-block{
  max-height: 1000px;
  width: cover;
}
body{
  background: black;
}
}
// Medium devices (tablets, 768px and up)
@media screen (minx-width: 768px) { 
  main {
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;

      -moz-column-gap: 10em;
      -webkit-column-gap: 10em;
      column-gap: 10em;

      -moz-column-rule: 1px solid #bbb;
      -webkit-column-rule: 1px solid #bbb;
      column-rule: 1px solid #bbb;

      -moz-column-width: 500px;         
      -webkit-column-width: 500px;
      column-width: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) { 
  .bd-example, .d-block{
  max-height: 100px!important;
  width: cover;
}
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) { 
  .bd-example, .d-block{
  max-height: 100px !important;
  width: cover;
}
}